<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="d-flex align-items-center">
    <!-- Profile Image -->
    <img class="myprofile" src="profile-pic.jpg" alt="that's me">

    <!-- Language Dropdown -->
    <div class="dropdown mx-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-globe "></i> <span data-translate="true"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="languageDropdown">
        <li><a class="dropdown-item" href="#" (click)="translatePage('en')"><img src="assets/flags/us.svg" alt="English Flag" class="flag-icon"> <span>English</span></a></li>
        <li><a class="dropdown-item" href="#" (click)="translatePage('fr')"><img src="assets/flags/fr.svg" alt="French Flag" class="flag-icon"> <span>French</span></a></li>
        <li><a class="dropdown-item" href="#" (click)="translatePage('es')"><img src="assets/flags/es.svg" alt="Spanish Flag" class="flag-icon"> <span>Spanish</span></a></li>
        <li><a class="dropdown-item" href="#" (click)="translatePage('ar')"><img src="assets/flags/arab.svg" alt="Arabic Flag" class="flag-icon"> <span>Arabic</span></a></li>
      </ul>
    </div>
  </div>

  <!-- Navbar Toggle Button -->
  <button class="navbar-toggler shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar Links -->
  <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="home" data-translate="true">Home</a>      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="Journey" data-translate="true">Journey</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="skills" data-translate="true">Skills</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="projects" data-translate="true">Projects</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/home']" fragment="contact" data-translate="true">Contact</a>
      </li>
      <!-- Let's Talk button shown in navbar when screen is small -->
      <li class="nav-item d-lg-none">
        <button class="btn btn-primary nav-link" data-translate="true">Let's Talk</button>
      </li>
    </ul>
  </div>

  <!-- Let's Talk button on the right side for larger screens -->
  <button class="btn btn-outline-primary rounded-pill d-none d-lg-block" data-translate="true">Let's Talk</button>
</nav>
