<div class="chatbot-container p-3 border rounded shadow">
  <h5>💬 Let's Talk</h5>

  <div *ngIf="botReply" class="alert alert-info mt-2" style="max-height: 500px; overflow-y: auto;">
    <markdown [data]="botReply"></markdown>
  </div>



  <form (ngSubmit)="sendMessage()" class="mt-3">
    <div class="input-group">
      <input [(ngModel)]="userMessage" name="message" required class="form-control" placeholder="Posez-moi une question..." />
      <button type="submit" class="btn btn-primary">Envoyer</button>
    </div>
  </form>
</div>
