<div class="container mt-5">
  <div class="hero-section text-center text-white py-5 mb-4" style="background: linear-gradient(to right, #007bff, #00d2ff);">
    <div class="container">
      <h2 class="display-4 font-weight-bold gradient-text">My Skills</h2>
      <p class="lead">Here are some of the skills I have acquired over my career:</p>
    </div>
  </div>

  <!-- Horizontal Bar for Categories -->
  <div class="row mb-4">
    <div class="col-12 text-center">
      <div class="btn-group d-flex flex-wrap justify-content-center" role="group" aria-label="Skill Categories">
        <button *ngFor="let category of skillCategories"
                type="button"
                class="btn btn-outline-primary"
                [class.active]="selectedCategory === category"
                (click)="setCategory(category)">
          <i [class]="categoryIcons[category]"></i> {{ category | titlecase }}
        </button>
      </div>
    </div>
  </div>

  <!-- Details based on selected category -->
  <div class="row justify-content-center">
    <div class="col-12 text-center">
      <div *ngIf="selectedSkills">
<!--
        <h3>{{ selectedCategory | titlecase }} Skills</h3>
-->
        <div class="card-deck">
          <div *ngFor="let skill of selectedSkills" class="card" [ngStyle]="{'border-color': getCardColor(skill)}">
            <div class="card-body">
              <h5 class="card-title"><i [class]="getIconClass(skill)"></i> {{ skill }}</h5>
              <p class="card-text">Experience with {{ skill }} in various projects.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
